<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.saifkhichi.books">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".ui.activity.LibraryActivity"/>

        <activity android:name=".ui.activity.BooksListActivity" />

        <activity android:name=".ui.activity.EditBookActivity" />

        <activity android:name=".ui.activity.BookDetailsActivity" />

    </application>

</manifest>